:root{
  --primary-text-color: #757575;
  --background-color: #FFFFFF;
  --header-logo-color: #000000;
  --title-text-color: #212121;
  --hero-footer-background-color: #2F303A;
  --accent-color: #2196F3;
  --team-n-buttons-color: #F5F4FA;
  --footer-links-color: rgba(255, 255, 255, 0.6);
}

body{
  font-family: 'Roboto', 'Sans-Serif';
  font-size: 14px;
  letter-spacing: 0.02em;
  
  color: var(--primary-text-color);
  background-color: var(--background-color);
}

.list{
  list-style: none;
}

.link{
  text-decoration: none;
}

.logo{
  font-family: 'Raleway', 'Sans-Serif';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  color: var(--accent-color);
}

.logo-header{
  color: var(--title-text-color);
}

.header-contacts{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  
  text-decoration: none;
}

.header-pages-link{
  text-decoration: none;
 
  color: var(--title-text-color);
}

.header-active-page{
  color: var(--accent-color);
}


.header-link{
  text-decoration: none;
  color: var(--primary-text-color);
}

.hero-section{
  background-color: #2F303A;
  background-color: var(--hero-footer-background-color);
  text-align: center;
}

.hero-slogan{
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;

  text-align: center;
  text-transform: uppercase;

  color: var(--background-color) ;
  background-color: var(--hero-footer-background-color);
}

.order-btn{
  font-family: 'Roboto', 'Sans-Serif';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;

  color: var(--background-color);
  background-color: var(--accent-color);

}

.features-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  
  text-decoration: none;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.features-page-text{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.section-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  text-align: center;
  color: var(--title-text-color);
}

.our-team-section{
  background-color: var(--team-n-buttons-color);
}

.our-team-list{
    text-align: center;
}

.teammate{
  background-color: var(--background-color);
}

.our-team-name{
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--title-text-color);
}

.our-team-position{
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  text-align: center;
}

.footer{
  background-color: var(--hero-footer-background-color);
}

.logo-footer{
  color: var(--background-color);
}

.footer-list{
  font-style: normal; 
}

.adress{
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
 
  color: var(--background-color);
}

.footer-link{
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
   
  color: var(--footer-links-color);
}

.header-pages-link:hover,
.header-pages-link:focus,
.header-link:hover,
.header-link:focus,
.footer-link:hover, 
.footer-link:focus{
  color: var(--accent-color);
}

/* portfolio.html page */

.filter-btn-list{
    text-decoration: none;
    color: var(--title-text-color);
}

.filter-btn{
  font-family: 'Roboto', 'Sans-Serif';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;

  color: var(--title-text-color);
  background-color: var(--team-n-buttons-color);
}

.sum-filter-btn{
  font-family: 'Roboto', 'Sans-Serif';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;

  color: var(--background-color);
  background-color: var(--accent-color);
}

.sum-filter-btn:hover,
.sum-filter-btn:focus,
.filter-btn:hover,
.filter-btn:focus{
  background-color: var(--accent-color);
  color: var(--background-color);
} 

.our-work{
  #
}

.our-work-customer{
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.our-work-description{
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: 0.03em;
}
